.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.benefits__item {
  display: inline-block;
  @media screen and (max-width: 767px) {
    max-width: 450px;
    margin-bottom: 30px;
    &:nth-last-child(-n + 1) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 768px) {
    width: 352px;
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.benefits__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $litle-text-color;
  margin-bottom: 10px;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $primary-text-color;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  margin-top: 10px;
}
.benefits__icon {
  width: 70px;
  height: 70px;
}
.benefits__container {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  align-items: center;
  display: inline-flex;
  margin-bottom: 30px;
  justify-content: center;
}
