.company {
  text-decoration: none;
  display: flex;
}
.company__link {
  width: 100%;
  height: 100%;
  display: flex;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}
.company__item {
  width: 170px;
  height: 92px;
}
.company__item:not(:last-child) {
  margin-right: 30px;
}
.company__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
