.address__block {
  flex-grow: 1;
  margin-right: 70px;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.address__section {
  margin-bottom: 0;
  padding: 0;
  display: inline;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $additional-color;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;
  transition: color $transition-duration $time-function;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}
.address__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  text-decoration: none;
  font-style: normal;
}
