.network__title {
  font-weight: bold;
  line-height: 1.14;
  color: $additional-color;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  margin-bottom: 20px;
  font-weight: 700;
}
