.hero {
  display: flex;
  text-align: center;
  background-color: rgba(47, 48, 58, 1);
  @media screen and (max-width: 1199px) {
    padding: 118px 0;
  }
  @media screen and (min-width: 1200px) {
    padding: 200px 0;
  }
}

.overlay {
  max-width: auto;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../img/hero/mobile/mobile1x.jpg");
  @media screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero/mobile/mobile2x.jpg");
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero/tablet/tablet1x.png");
  }
  @media screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero/tablet/tablet2x.png");
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero/pc/pc.png");
  }
  @media screen and (min-device-pixel-ratio: 2) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../img/hero/pc/pc2x.png");
  }
}

.hero__title {
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: $additional-color;
  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: $accent-color;
  color: $additional-color;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  border: transparent;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: box-shadow, background-color, box-shadow;
  transition-duration: $transition-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
