.header__logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.12;
  letter-spacing: 0.03em;
  color: $accent-color;
  text-decoration: none;
}
.logo__dark {
  color: $litle-text-color;
}
.logo__second--color {
  color: $additional-color;
}
