.network {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
.social-network {
  display: flex;
  justify-content: center;
}
.social-network__item:not(:last-child) {
  margin-right: 10px;
}

.social-network__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    color: $additional-color;
    background-color: $accent-color;
  }
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.network__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $additional-color;
  margin-bottom: 20px;
}
