.social-network {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-top: 16px;
}
.social-network__item:not(:last-child) {
  margin-right: 10px;
  list-style: none;
}

.social-network__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: $transition-duration;
  transition-timing-function: $time-function;
  &:hover,
  &:focus {
    color: $additional-color;
    background-color: $accent-color;
  }
}

.social-network__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
