.subscribe {
  margin-left: 93px;
}
.subscribe__mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  background: inherit;
  outline: none;
  color: $additional-color;
}
.subscribe__button {
  width: 200px;
  height: 50px;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: $additional-color;
  background: #2196f3;
  margin-left: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  transition: backgraund-color $transition-duration $time-function;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
.subscribe__img {
  margin-left: 10px;
}
