/* Цвета */
$primary-text-color: #757575;
$litle-text-color: #212121;
$accent-color: #2196f3;
$additional-color: #ffffff;

/* Шрифт */
$primary-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;

/* Анимация и переход */
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
